:root {
    --sidebar-bg-color: #1992d4;
    --sidebar-text-color: #fbfdfe;
    --nav-bg-color: #ffffff;
    --main-bg-color: #e2e8f0;
    font-family: Arial, Helvetica, sans-serif;
    --avatar1: url(/images/mario-49285.png);
    --avatar2: url('https://github.com/matthew.png');
    --avatar3: url('https://github.com/peter.png');
    --avatar4: url('https://github.com/thomas.png');
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "sidebar nav nav nav"
    "sidebar main main main";
    grid-template-columns: .75fr 3.25fr 1fr;
    grid-template-rows: 1fr 4fr ;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-size: 20px;
    font-weight: 800;
}

p {
    font-size: 15px;
    font-weight: 400;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    width: 16rem;
    grid-area: sidebar;

}

.sidebar-items {
    padding: 1rem;
}

.sidebar-items:first-child {
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.sidebar-items:nth-child(8){
    padding-top: 4rem;
}

.sidebar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: var(--sidebar-text-color);
    margin-left: 5px;
    cursor: pointer;
}



.white {
    filter: invert(97%) sepia(3%) saturate(1382%) hue-rotate(186deg) brightness(103%) contrast(98%);
    margin-right: 5px;
}

.nav {
    grid-area: nav;
    background-color: var(--nav-bg-color);
    padding: 1rem 2rem;
    border-bottom: 5px solid #e1e6ec;
}

.nav-top {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.nav-top-left {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.nav-top-right {
    display: flex;
    gap: 25px;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-top {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
}

 input {
    border-radius: 8px;
    padding: 8px 16px;
    background-color: rgb(223, 241, 241);
    border: 0;
    width: 70%;
}

.nav-buttom {
    display: grid;
    grid-template-columns: 1fr max-content;
    box-sizing: border-box;
    width: 100%;
 
}

button {
    background-color: var(--sidebar-bg-color);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
}

.nav-buttom-left {
   display: flex;
}

.nav-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.nav-buttom-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 3rem;
    width: 100%;
}



.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--main-bg-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .25fr 1fr 1fr 1fr;
    box-sizing: border-box;
    padding: 10px 25px;
}

.announcement {
    display: grid;
    grid-template-rows: .4fr 1fr 1fr;
}

.project {
    display: flex;
    align-items: center;
}
.card {
    background-color: var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px;
    margin: 10px;
    gap: 5px;
    box-shadow: 1px 1px #dfe4e7, -1em 0 .2em #089ae2;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
  }

  .cardP {
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: pointer;
  }


.share-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px
}

.announcement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-right: 2rem;
    gap: 2rem;
}

h4 {
    font-size: 12px;
    font-weight: 600;
}

.right-card {
    background-color: var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom:  20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow:  1px 1px  #acc8d6, -5px 0 .2em #acc8d6;
}

.right-card-child {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.right-card-child:nth-last-of-type(2) {
    border-top: #089ae2 1px solid;
    border-bottom: #089ae2 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;

}


.trending1 {
    display: flex;
    gap: 5px;
    margin-bottom: 8px;
    cursor: pointer;
}